In [2]:
import pandas as pd
import networkx as nx

In [7]:
ca_grqc = nx.read_edgelist('ca_grqc.csv', create_using=nx.Graph())
ca_hep = nx.read_edgelist('ca_hepth.csv', create_using=nx.Graph())

In [33]:
ca_grqc_df = pd.read_csv('ca_grqc.csv', header=None, sep=' ')

In [35]:
ca_grqc_df.columns = ['source', 'target']

In [40]:
len(ca_grqc_df['source'].unique())

5242

In [39]:
# find duplicit rows
ca_grqc_df[ca_grqc_df.duplicated()]

Empty DataFrame
Columns: [source, target]
Index: []

In [26]:
ca_grqc.number_of_nodes()

5242

In [25]:
ca_grqc.number_of_edges()

14496

In [27]:
nodes = list(ca_grqc.nodes)

In [29]:
daco = [int(node) for node in nodes]

In [30]:
# sort list 
daco.sort()

In [32]:
print(len(daco))

5242